
<div class="p-3 mb-2 bg-dark-subtle text-dark-emphasis">
  <h1 class="mb-4">Weather Forecast App</h1>

  <p>
    A simple Ruby on Rails application based on the latest version of Ruby-3 and Rails-8
    that fetches weather forecast information using OpenWeatherMap API, caches the previous
    results, and displays the results on search.
  </p>

  <h3 class="mt-4">Usage and Features:</h3>
  <ul>
    <li>Accepts City name or Zip code as input</li>
    <li>Retrieves current temperature along with high/low and weather description</li>
    <li>Caches the results for 30 minutes per address for faster results and displays whether the result is fetched from cache</li>
    <li>Integrated Bootstrap nav bar and components for better styling and has scope to add more features in the future</li>
  </ul>

  <h3 class="mt-4">Tech Stack:</h3>
  <ul>
    <li>Ruby on Rails (LTS)</li>
    <li>Bootstrap 5 for styling</li>
    <li>HTTParty for API requests</li>
    <li>Rails cache</li>
    <li>OpenWeatherMap API key </li>
  </ul>
</div>
